
* {
    font-size: 10px;
}

#pageone {
    font-size: 1em;
    background-color: #F2F2F2;
}

.header {
    position: relative;
    overflow: hidden;
    height: 8.7em;
    background-color: darkturquoise;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.imgHeader {
    height: 8.7em;
    overflow: hidden;
}

.imgHeader img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    position: relative;
    top: -70px;
    z-index: 0;
    opacity: 0.8;
}

.header>.imgHeader {
    position: absolute;
    top: 0px;
    left: 0px;
}

.header>h1 {
    position: absolute;
    color: gray;
    top: 0px;
    left: 10px;
    z-index: 100;
    font-size: 2.3em;
}

.header>p {
    position: absolute;
    color: whitesmoke;
    top: 2.6em;
    left: 10px;
    z-index: 100;
    display: block;
    font-size: 12px;
    -webkit-margin-before: 1.5em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
}

.func{
    position: absolute;
    top: 2em;
    right: 1em;
}
.func img{
    height: 2.5em;
    margin: 0px 8px;
    width: 2.5em;
}

.tool {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.tool>button {
    width: 45%;
    font-weight: 100;
    font-size: 1.3em;
    background-color: white !important;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    color: #333;
    border-left: black;
    border-top: black;
}

.empty {
    height: 0px;
    width: 45%;
}
.future{
    margin-bottom: 2em;
}
.toolhead>p {
    font-size: 18px;
    font-weight: 100;
    margin: 5px 0px;
}
.footer{
    font-size: 1em;
    width: 100%;
    position: absolute;
    bottom: 0.2em;
    text-align: center;
}


